.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.Container input{
    width: 328px;
    height: 56px;
    border-radius: 2px;
    border: solid 1px #b8b8b8;
}

.Card{
    margin-top: 18px;
    width: 328px;
    height: 188px;
    border-radius: 8px;
    border: solid 1px #b8b8b8;
}

.Card .Nome{
    margin: auto;
    padding: 0;
    position: relative;
    top: -10px;
    width: 296px;
    height: 18px;
    letter-spacing: -0.39px;
    color: #e8222e;
}

.Card .info{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 18px;
    position: relative;
    top: -35px;
    color:#b8b8b8;
}

.Card img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}